<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/profileUpdStyle.css' %}">
    <meta charset="UTF-8">
    <title>ProductProfile</title>
</head>
<body>

        <div class="header">
            <div class="left">
                <h3><a href="{% url 'index' %}"> DjangoSushi</a></h3>
            </div>
        </div>



<div class="Profile">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token  %}

        <table >
        {{ form }}
        </table>
        <input type="submit" value="edit" class="button">
    </form>


</div>
</body>
</html>