<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/IndexStyle.css' %}">
    <meta charset="UTF-8">
    <title>App</title>
</head>
<body>

        <div class="header">
            <div class="right">
            {% if user.is_authenticated %}
                <div class="accountHello">Hi,
                    <a href="{% url 'profile'%}">
                        {{ user.username }}
                    </a>
                </div>
                <a href="{% url 'logout' %}?next=/index/" class="logout">logout</a>
            {% else %}
              You are not logged <a href="{% url 'log' %}" >Login? </a>
            {% endif %}
            </div>
            <div class="left">
                <h3> DjangoSushi</h3>
            </div>
        </div>

            <div class="menu">
                <ul><li>Статус пользователя</li></ul>
                 {% if user.groups.all.0.name == "redactors"%}
                    <h1> Redactor </h1>
                     <a href="{% url 'profile_add' %}">Add new Product</a>
                {% else %}
                     <h1> User </h1>
                {% endif %}
            </div>

{#            <div class="bodyElem">#}
{#                {% for prod in model %}#}
{#                   <div class="prodBlock">#}
{#                       <p><a href="{% url 'profile_update' %}"> {{ prod.name }}</a></p>#}
{#                    <img src="{{ prod.picture.url }}">#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}

        <div class="bodyElem">

             {% if is_paginated %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
             {% for item in object_list %}
                    <div class="prodBlock">
                    <img src="{{ item.picture.url }}">
                        <div class="name">
                            {% if user.groups.all.0.name == "redactors"%}
                            <a href="{% url 'profile_update' id=item.id %}">
                                {{ item.name }}
                            </a>
                            {% else %}
                                {{ item.name }}
                            {% endif %}
                        </div>
                    <div class="weight">{{ item.weight }}</div>
                    <div class="about">{{ item.about }}</div>
                    <div class="price"><b>{{ item.price }}</b> ₽</div>
                    </div>
             {% endfor %}

          {% if is_paginated %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
        </div>

</body>
</html>